<div class="admin-app">
    <aside [class.open]="open">
        <div class="brand"><span>🌿</span>
            <div><b>PlantUno</b><small>ADMIN</small></div>
        </div>
        <nav><a *ngFor="let l of links" [routerLink]="l[1]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="open=false"><i>{{l[2]}}</i>{{l[0]}}</a></nav>
    </aside>
    <div class="main">
        <header><button class="menu" (click)="open=!open">☰</button>
            <div class="crumb">Admin / <b>{{router.url.split('/')[2] || 'dashboard' | titlecase}}</b></div>
            <div class="head-right">
                <span class="notification-icon">🔔</span>
                <app-profile-menu></app-profile-menu>
            </div>
        </header>
        <div class="content"><ng-content></ng-content></div>
    </div>
</div>